.calc {
  padding-top: 6rem;

  @include small-tablet {
    padding-top: 0;
  }

  .cta__container {
    background-image: url("./../img/calc/tel-2x.webp"),
      linear-gradient(24deg, #ecf3fb 0%, #c2d4e9 100%);
    background-position: center;
    background-size: 53.6rem 100%, cover;
    background-position: right bottom;
    background-repeat: no-repeat;

    @media (max-width: 1440px) {
      background-image: url("./../img/calc/tel.webp"),
        linear-gradient(24deg, #ecf3fb 0%, #c2d4e9 100%);
    }

    @include tablet {
      background-size: 40rem auto, cover;
    }

    @include mobile {
      background-image: linear-gradient(24deg, #ecf3fb 0%, #c2d4e9 100%);
      background-size: cover;
    }

    .cta__list {
      @include small-tablet {
        max-width: 50%;
      }

      @include mobile {
        max-width: 100%;
      }
    }
  }

  &__title {
    margin-bottom: 6rem;
  }

  &__container {
    padding-top: 5.3rem;
    padding-bottom: 15rem;
    border: 0.3rem solid #e3eaf1;
    border-radius: 5rem;

    max-width: 157.4rem;
    margin: 0 auto;
    margin-bottom: -8rem;
    position: relative;
    z-index: -1;

    @include tablet {
      padding-top: 4rem;
      padding-bottom: 11rem;
      border-radius: 3rem;
    }

    @include mobile {
      padding-top: 27px;
    }
  }

  &__eng {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4.6rem;

    @include tablet {
      gap: 3rem;
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }
  }

  &__empl {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__img {
    width: 13.3rem;
    height: 13.3rem;
    border-radius: 100%;
    border: 0.3rem solid #fff;
    position: relative;

    @include tablet {
      width: 12rem;
      height: 12rem;
    }

    @include small-tablet {
      width: 8.3rem;
      height: 8.3rem;
    }

    &:not(:first-child) {
      margin-left: -2rem;
    }

    &:nth-child(1) {
      z-index: 1;
    }

    &:nth-child(2) {
      z-index: 2;
    }

    &:nth-child(3) {
      z-index: 3;
    }

    &:last-child {
      z-index: -1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--sign {
      border-radius: 0;
      border: none;
    }
  }

  &__desc {
    font-weight: 400;

    @include mobile {
      font-size: 16px;
    }

    span {
      font-weight: 700;
      color: #3179df;
    }
  }
}