.cta {
  &__container {
    padding-top: 10rem;
    padding-bottom: 13rem;
    width: 100%;
    max-width: 157.5rem;
    margin: 0 auto;
    border-radius: 5rem;
    background: url("./../img/book-2x.webp"),
      linear-gradient(24deg, #ecf3fb 0%, #c2d4e9 100%);
    position: relative;
    background-size: 94rem 100%, cover;
    background-repeat: no-repeat;
    background-position: right bottom;

    @include tablet {
      padding-top: 8rem;
      padding-bottom: 14rem;
      background-size: 60rem auto, cover;
      border-radius: 3rem;
    }

    @include small-tablet {
      padding-top: 5rem;
      padding-bottom: 14rem;
      background-image: linear-gradient(24deg, #ecf3fb 0%, #c2d4e9 100%);
      background-size: cover;
    }

    .container {
      position: relative;
      z-index: 5;
    }
  }

  &__plug {
    margin-top: -10rem;
  }

  &__content {
    max-width: 88rem;
  }

  &__image {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 94rem;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom right;
    }
  }

  &__suptitle {
    margin-bottom: 1rem;
  }

  &__title {
    text-align: left;
    margin-bottom: 3rem;

    @include small-tablet {
      margin-bottom: 20px;
    }

    span {
      background: none;
      color: #ce3c46;
    }
  }

  &__list {
    margin-bottom: 5rem;

    @include small-tablet {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 38px;
    }
  }

  &__form {
    margin-bottom: 4rem;
  }

  &__agree {
    display: block;
    max-width: 49.5rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    color: #606778;

    @include mobile {
      font-size: 13px;
      max-width: 100%;
    }

    a {
      display: block;
      color: #3179df;
    }
  }
}


.cta-circle {
  position: absolute;
  z-index: 6;
  right: 20rem;
  top: 8rem;
  width: 16.3rem;
  height: 16.3rem;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.7);

  backdrop-filter: blur(32.605777740478516px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotate(15deg);

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
  }

  &__capture {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 135%;
    text-align: center;
    color: #2d3241;
  }

  &__value {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 130%;
    text-align: center;
    color: #3179df;
  }

  &--gray {
    background-color: rgba(219, 230, 241, 0.6);
    ;
  }

}