.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }

  &__link {
    display: inline-block;
    position: relative;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.5rem;
    color: #2d3241;

    @include small-tablet {
      font-size: 15px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 100%;
      width: 10%;
      opacity: 0;
      height: 1px;
      background-color: currentColor;
      transition: .3s ease-out;
    }

    @include hover {
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}