.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity .3s ease-out, z-index .3s ease-out;

  &.active {
    opacity: 1;
    z-index: 120;
  }

  &__header {
    max-width: 50rem;

    @include small-tablet {
      max-width: 100%;
    }
  }

  &__close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;

    @include tablet {
      width: 2rem;
      height: 2rem;
    }

    @include small-tablet {
      width: 20px;
      height: 20px;
      right: 15px;
      top: 10px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 130%;
    color: #000;
    max-width: 55rem;

    @include tablet {
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }

    @include small-tablet {
      font-size: 22px;
      margin-bottom: 7px;
    }

    span {
      color: #ce3c46;
    }
  }

  &__desc {
    margin: 0;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 140%;
    color: #606778;

    @include tablet {
      font-size: 1.8rem;
    }

    @include small-tablet {
      font-size: 16px;
      margin-bottom: 26px;
    }
  }

  &__body {
    width: 100%;
    max-width: 117rem;
    background: linear-gradient(24deg, #ecf3fb 0%, #c2d4e9 100%);
    border-radius: 5rem;
    overflow: hidden;

    @include tablet {
      max-width: 100%;
      border-radius: 30px;
    }

    @include small-tablet {
      background: #fff;
      overflow: hidden;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include small-tablet {
      flex-direction: column;
      overflow-y: auto;
      border-radius: 30px;
      background: linear-gradient(24deg, #ecf3fb 0%, #c2d4e9 100%);
    }
  }

  &__left {
    padding: 5.5rem 5rem;
    position: relative;

    @include tablet {
      padding: 4rem;
    }

    @include small-tablet {
      padding: 31px 15px;
      padding-bottom: 0;

    }
  }

  &__image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 74.6rem;
    height: 40rem;

    @include small-tablet {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  }

  &__right {
    position: relative;
    z-index: 2;
    background: linear-gradient(24deg, #ecf3fb 0%, #c2d4e9 100%);
    border-radius: 5rem;
    padding: 6.5rem 5.5rem 3.7rem;
    width: 100%;
    max-width: 53rem;
    flex-shrink: 0;

    @include small-tablet {
      background: none;
      max-width: 100%;
      padding: 15px;
      padding-bottom: 34px;
      padding-top: 0;
    }
  }

  &__bottom {
    background-color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3.2rem 5rem;

    gap: 1.5rem;

    @include small-tablet {
      padding: 26px 15px;
      gap: 0;

      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__expert {
    flex: 1;
    max-width: 31.4rem;

    @include small-tablet {
      max-width: 100%;
    }
  }

  &__tel {
    flex: 1;
    max-width: 34.2rem;

    @include small-tablet {
      max-width: 100%;
    }
  }

  &__question {
    max-width: 22.5rem;
    flex: 1;
    position: relative;
    padding-left: 1.5rem;

    font-weight: 700;
    font-size: 1.8rem;
    line-height: 140%;
    color: #606778;

    @include small-tablet {
      max-width: 100%;
      font-size: 14px;
      padding-left: 85px;
      margin-bottom: 9px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: .3rem;
      border-radius: .5rem;
      background-color: #3179df;

      @include small-tablet {
        display: none;
      }
    }
  }

  &__list {
    margin-top: 6rem;
    max-width: 20rem;

    @include small-tablet {
      margin-top: 15px;
      margin-bottom: 30px;
      max-width: 100%;
    }

    &>span {
      margin-bottom: 1.7rem;
      display: block;
      font-weight: 700;
      font-size: 2.2rem;
      line-height: 135%;
      color: #3179df;

      @include small-tablet {
        font-size: 18px;
        margin-bottom: 9px;
      }

      @include mobile {
        font-size: 16px;
      }
    }

    ul>li {
      font-weight: 400;
      font-size: 2rem;
      line-height: 135%;
      color: #2d3241;

      @include small-tablet {
        font-size: 18px
      }

      @include mobile {
        font-size: 16px;
      }

      span {
        color: #3179df;
      }

      &:not(:last-child) {
        margin-bottom: 1.2rem;

        @include small-tablet {
          margin-bottom: 6px;
        }
      }
    }
  }

  &--shild {
    .popup__image {
      width: 100%;
      height: 38.3rem;
    }
  }

  &--calc {
    .popup__image {
      width: 67rem;
      height: 40rem;
      left: 16rem;
    }
  }
}


.popup-expert {
  display: flex;
  align-items: center;
  gap: 2rem;

  @include small-tablet {
    gap: 15px;
  }

  &__img {
    width: 7rem;
    height: 7rem;
    position: relative;
    flex-shrink: 0;

    @include small-tablet {
      width: 70px;
      height: 70px;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 100%;
      background-color: #64D05D;
      border: 3px solid #fff;

      @include small-tablet {
        width: 16px;
        height: 16px;
        bottom: 5px;
        right: 5px;
      }
    }

    img {
      border-radius: 100%;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    margin-bottom: 0.3rem;
    display: block;

    font-weight: 700;
    font-size: 1.8rem;
    line-height: 130%;
    color: #2d3241;

    @include small-tablet {
      font-size: 16px;
      margin-bottom: 4px;
    }
  }

  &__prof {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 156%;
    color: #606778;

    @include small-tablet {
      font-size: 14px;
    }
  }
}


.popup-tel {
  display: flex;
  align-items: center;
  gap: 2rem;

  @include small-tablet {
    gap: 0;
    padding-left: 85px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    background-color: #ecf3fb;
    padding: 2.5rem;

    @include small-tablet {
      display: none;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__value {
    display: block;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 160%;
    color: #2d3241;

    @include small-tablet {
      font-size: 20px;
    }
  }

  &__capture {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 130%;
    color: #606778;

    @include small-tablet {
      font-size: 14px;
    }
  }
}



.popup-form__rbox:checked+.popup-form__radio {
  outline: 2px solid #3179df;
}