.temp {
  padding-top: 12rem;
  padding-bottom: 6rem;

  @include small-tablet {
    padding-top: 6rem;
    padding-bottom: 5.5rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5.8rem;

    &:not(:last-child) {
      margin-bottom: 6rem;
    }

    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    padding: 6rem 0;

    @include small-tablet {
      padding: 0;
    }
  }

  &__image {
    padding: 6.4rem 4.4rem;
    border-radius: 5rem;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, #000 100%),
      url("./../img/temp/main-2x.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    @include small-tablet {
      height: auto;
      padding-top: 240px;
      border-radius: 3rem;
    }

    @include mobile {
      padding: 3rem 2rem;
      padding-top: 140px;
    }
  }

  &__bottom {
    margin-top: 30px;
    display: none;
    cursor: pointer;
    text-align: center;

    @include mobile {
      display: block;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      text-align: center;
      color: #3179df;
    }
  }

  &__capture {
    display: block;
    margin-bottom: 1.8rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 130%;
    color: #fff;

    @include small-tablet {
      font-size: 2.4rem;
    }

    @include mobile {
      font-size: 18px;
      margin-bottom: 6px;
    }

    .blue {
      color: #468cdd;
    }

    .yel {
      color: #fbcd5d;
    }
  }

  &__title {
    text-align: left;
    margin-bottom: 5.2rem;

    @include mobile {
      max-width: 90%;
      margin: 0 auto;
      margin-bottom: 30px;
      text-align: center;
    }
  }

  &__desc {
    font-weight: 300;
    font-family: var(--font-family);

    @include small-tablet {
      font-size: 16px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 4rem;

      @include mobile {
        margin-bottom: 30px;
      }
    }
  }
}

.temp-item {
  display: flex;
  align-items: center;
  gap: 3.2rem;

  &__icon {
    width: 7.5rem;
    height: 7.5rem;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
    }

    @include small-tablet {
      width: 55px;
      height: 55px;
    }
  }

  &__content {
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 130%;
    color: #2d3241;

    @include small-tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 14px;
    }

    span {
      font-weight: 700;
    }
  }
}

.temp-product {
  padding: 2rem;
  border-radius: 5rem;
  overflow: hidden;
  background-color: #ecf3fb;

  @include tablet {
    border-radius: 3rem;
  }

  &.is-hide {
    @include mobile {
      display: none !important;
    }
  }

  &__image {
    height: 17rem;

    margin-bottom: 3.5rem;
    position: relative;

    @include tablet {
      margin-bottom: 2rem;
    }

    @include mobile {
      height: 180px;
      margin-bottom: 28px;
    }

    &::after {
      content: "";
      position: absolute;
      right: -4px;
      top: -4px;
      width: 4rem;
      height: 4rem;
      background-image: url('./../img/check.svg');
      background-size: contain;
      background-repeat: no-repeat;

    }

    img {
      border-radius: 3rem;
      width: 100%;
      height: 100%;

      @include small-tablet {
        border-radius: 20px;
      }
    }
  }

  &__content {
    padding: 1rem;
    padding-top: 0;
  }

  &__title {
    display: block;
    margin-bottom: 0.6rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 135%;
    color: #2d3241;

    @include tablet {
      font-size: 2rem;
    }

    @include mobile {
      font-size: 18px;
    }
  }

  &__desc {
    margin: 0;
    margin-bottom: 3rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    line-height: 140%;
    color: #000;

    @include tablet {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }

    @include mobile {
      font-size: 16px;
    }

    span {
      color: #ce3c46;
    }
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: #3179df;

    @include small-tablet {
      font-size: 14px;
    }

    span {
      text-decoration: underline;
    }
  }
}