.hero-top {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  position: relative;
  z-index: 2;

  @include tablet {
    justify-content: center;
  }



  &__logo {
    display: block;
    width: 22.4rem;
    height: 3.2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__desc {
    display: block;
    max-width: 23.5rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: #606778;
  }

  &__col {
    flex-shrink: 0;
  }

  &__row {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    gap: 1.4rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &--soc {
      gap: 0.4rem;
    }
  }

  &__map {
    width: 8rem;
    height: 8rem;
    flex-shrink: 0;

    @include tablet {
      width: 7rem;
      height: 7rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__capture {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    color: #606778;
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: 1.2rem;

      @include tablet {
        margin-bottom: 0.8rem;
      }
    }

    &--status {
      display: flex;
      align-items: center;
      gap: 12px;

      &::before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #1dd100;
      }
    }
  }

  &__value {
    display: block;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1;
    color: #2d3241;

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__tel {
    font-size: 2rem;

    @include small-tablet {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 161%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #3179df;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
    color: #2d3241;

    display: block;
    max-width: 11.5rem;
    margin-left: 0.9rem;
  }

  &__soc {
    display: block;
    flex-shrink: 0;
    width: 3.3rem;
    height: 3.3rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}