@charset "UTF-8";
:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Gilroy", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Montserrat", sans-serif;
  --content-width: 117rem;
  --container-offset: 2rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --red-color: #CE3C46;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/Manrope-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 0.5208333333vw;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 140%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 0.5rem;
  padding: 3.4rem 5rem;
  -webkit-transition: background-position 0.3s ease-out;
  transition: background-position 0.3s ease-out;
}
.btn--red {
  -webkit-box-shadow: 0 4px 0 0 #730b0f;
  box-shadow: 0 4px 0 0 #730b0f;
  background: linear-gradient(-167deg, #e52d27 0%, #b31217 50%, #e52d27 100%);
  background-size: 100% 200%;
  background-position: top;
}
.btn--blue {
  -webkit-box-shadow: 0 4px 0 0 #254f8c;
  box-shadow: 0 4px 0 0 #254f8c;
  background: linear-gradient(-186deg, #4b92fa 0%, #2c6dca 50%, #4b92fa 100%);
  background-size: 100% 200%;
  background-position: top;
}
@media (any-hover: hover) {
  .btn:hover {
    background-position: bottom;
  }
}
.btn span {
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 0;
  -webkit-transform: translate(0%, 50%) rotate(-1deg);
  -ms-transform: translate(0%, 50%) rotate(-1deg);
  transform: translate(0%, 50%) rotate(-1deg);
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2d3241;
  padding: 0.4rem 1.4rem;
  border-radius: 0.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe18f), color-stop(49%, #fbcd5d), to(#f6c24c));
  background: linear-gradient(to bottom, #ffe18f 0%, #fbcd5d 49%, #f6c24c 100%);
}

.title2 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 130%;
  text-align: center;
  color: #2d3241;
}
.title2 span {
  background-color: #dcebff;
}

.title3 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.8);
}

.suptitle {
  margin: 0;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 140%;
  color: #606778;
}

.desc {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 130%;
  text-align: center;
  color: #2d3241;
}
.desc span {
  font-weight: 700;
  color: #3179df;
}

.text {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 130%;
  color: #2d3241;
}
.text span {
  font-weight: 700;
}
.text--gray {
  color: #606778;
}
.text--small {
  font-size: 1.6rem;
}
.text--bold {
  font-weight: 700;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 130%;
  color: #2d3241;
}
.list > li:not(:last-child) {
  margin-bottom: 1rem;
}
.list > li::before {
  content: "";
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  margin-top: 0.8rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: #ce3c46;
}

.watch-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.2rem;
  padding: 1.1rem 2.6rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
.watch-link span {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 140%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #3179df;
}
.watch-link img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 5rem;
  height: 3.5rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.list-check {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
}
.list-check > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.8rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 2rem;
  line-height: 156%;
  color: #2d3241;
}
.list-check > li::before {
  content: "✓";
  color: #3179df;
}

.header {
  padding: 2rem 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3.2rem;
}
.header__cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.8rem;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  color: var(--red-color);
  cursor: pointer;
}
.header__burger {
  width: 1.8rem;
  height: 1.2rem;
}
.header__burger svg {
  width: 100%;
  height: 100%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3.2rem;
}
.nav__link {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 1.5rem;
  color: #2d3241;
}

.hero {
  background-image: url("./../img/hero/boxes-2x.webp"), url("./../img/hero/back-2x.webp");
  background-size: 20rem 43rem, cover;
  background-repeat: no-repeat;
  background-position: left bottom, top;
  padding-top: 3rem;
  padding-bottom: 22rem;
  position: relative;
}
.hero__top {
  margin-bottom: 10rem;
}
.hero__content {
  max-width: 72rem;
  position: relative;
  z-index: 4;
}
.hero__image {
  position: absolute;
  bottom: 0;
  right: 25rem;
  z-index: 1;
  height: 73rem;
  width: auto;
}
.hero__image img {
  height: 100%;
  width: auto;
}
.hero__box {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 44rem;
  height: 26.8rem;
}
.hero__box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: bottom right;
  object-position: bottom right;
}
.hero__title {
  margin: 0;
  margin-bottom: 2.3rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 3.8rem;
  line-height: 130%;
  color: #2d3241;
}
.hero__title--bold {
  font-weight: 700;
}
.hero__title--red {
  color: #ce3c46;
}
.hero__desc {
  margin: 0;
  margin-bottom: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 2.2rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 1;
  color: #606778;
}
.hero__desc::before {
  content: "";
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  width: 2.5rem;
  margin-top: 1.3rem;
  height: 0.1rem;
  background-color: currentColor;
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2rem;
}
.hero__extra {
  position: relative;
  z-index: 2;
  margin-top: -12rem;
  margin-bottom: 10rem;
}

.hero__bottom {
  padding: 4rem 3.6rem;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px 0 rgba(199, 219, 239, 0.5);
  box-shadow: 0 4px 20px 0 rgba(199, 219, 239, 0.5);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9rem;
  position: relative;
}
.hero__bottom::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 1.7rem;
  right: 1.7rem;
  bottom: -2rem;
  border-radius: 1rem;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px 0 rgba(199, 219, 239, 0.5);
  box-shadow: 0 4px 20px 0 rgba(199, 219, 239, 0.5);
}

.hero-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3.6rem;
}
.hero-item__image {
  width: 12.3rem;
  height: 12.3rem;
  border-radius: 0.5rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #e0eaf6;
  padding: 0 0.9rem;
  padding-top: 1rem;
  position: relative;
}
.hero-item__image--fill {
  padding: 0;
}
.hero-item__image img {
  width: 100%;
  height: 100%;
}
.hero-item__image::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#f1f5fa), to(rgba(241, 245, 250, 0)));
  background: linear-gradient(0deg, #f1f5fa 0%, rgba(241, 245, 250, 0) 100%);
}
.hero-item__image::after {
  content: "";
  position: absolute;
  z-index: 4;
  right: -0.8rem;
  bottom: -0.6rem;
  width: 4rem;
  height: 4rem;
  background-image: url("./../img/check.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-item__content {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 140%;
  color: #2d3241;
}
.hero-item__content span {
  display: block;
  font-weight: 700;
}

.hero-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 6rem;
}
.hero-top__logo {
  display: block;
  width: 22.4rem;
  height: 3.2rem;
}
.hero-top__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.hero-top__desc {
  display: block;
  max-width: 23.5rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  color: #606778;
}
.hero-top__col {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.hero-top__row {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.4rem;
}
.hero-top__row:not(:last-child) {
  margin-bottom: 1rem;
}
.hero-top__row--soc {
  gap: 0.4rem;
}
.hero-top__map {
  width: 8rem;
  height: 8rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.hero-top__map img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.hero-top__capture {
  display: block;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1.4rem;
  color: #606778;
  line-height: 1;
}
.hero-top__capture:not(:last-child) {
  margin-bottom: 1.2rem;
}
.hero-top__value {
  display: block;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1;
  color: #2d3241;
}
.hero-top__value:not(:last-child) {
  margin-bottom: 1.2rem;
}
.hero-top__link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 161%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #3179df;
}
.hero-top__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  color: #2d3241;
  display: block;
  max-width: 11.5rem;
  margin-left: 0.9rem;
}
.hero-top__soc {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 3.3rem;
  height: 3.3rem;
}
.hero-top__soc svg {
  width: 100%;
  height: 100%;
}

.hero-drop {
  position: relative;
  z-index: 1;
  margin-bottom: 0.6rem;
}
.hero-drop__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}
.hero-drop__header svg {
  width: 1.6rem;
  height: 1.6rem;
  -o-object-fit: contain;
  object-fit: contain;
}
.hero-drop__body {
  padding-left: 2.6rem;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 2;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  will-change: max-height;
}
.hero-drop__body a {
  display: inline-block;
  padding: 0.5rem 0;
}

.benefits {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.benefits__header {
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid #e0e0e0;
}
.benefits__title {
  margin-bottom: 2rem;
}
.benefits__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem 3.7rem;
}
.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}
.benefits__icon {
  width: 7.5rem;
  height: 7.5rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.benefits__icon svg {
  width: 100%;
  height: 100%;
}
.benefits-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #ecf3fb;
  position: relative;
}
.benefits-item .list {
  margin-bottom: 3rem;
}
.benefits-item__link {
  position: absolute;
  z-index: 1;
  top: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 4rem;
  right: 4rem;
}
.benefits-item::before {
  content: attr(data-num);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 14rem;
  height: 4rem;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 140%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #a1aecc;
  -webkit-mask-image: url("./../img/benefits/mask.svg");
  mask-image: url("./../img/benefits/mask.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.benefits-item__image {
  height: 21rem;
}
.benefits-item__image img {
  width: 100%;
  height: 100%;
}
.benefits-item__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 6.7rem 4.2rem 5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.benefits-item__title {
  margin-bottom: 2.2rem;
}
.benefits-item__btn {
  height: auto;
  width: 100%;
  padding-top: 2.4rem;
  padding-bottom: 1.4rem;
  padding-left: 0;
  padding-right: 0;
}

.production {
  padding: 6rem 0;
  margin-bottom: 8rem;
}
.production__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 6rem;
}
.production__content {
  width: 100%;
  max-width: 53rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.production__title {
  margin-bottom: 2rem;
  text-align: left;
}
.production__desc {
  margin-bottom: 8.5rem;
  text-align: left;
  line-height: 140%;
}
.production__right {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.prod-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3.7rem;
}
.prod-item:not(:last-child) {
  margin-bottom: 5rem;
}
.prod-item__image {
  width: 11rem;
  height: 11rem;
  border-radius: 1rem;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.prod-item__image::before {
  content: "";
  position: absolute;
  right: -1rem;
  bottom: -1rem;
  width: 4rem;
  height: 4rem;
  z-index: 2;
  background-image: url("./../img/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.prod-item__image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.prod-item__capture {
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 135%;
  color: #2d3241;
}
.prod-item__desc {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 130%;
  color: #606778;
}

.prod-image {
  position: relative;
  padding: 8rem 5.7rem;
  overflow: hidden;
  border-radius: 5rem;
}
.prod-image__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.prod-image__image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(#000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, #000 100%);
}
.prod-image__link {
  max-width: 31.3rem;
  margin-bottom: 21.5rem;
  padding: 2rem 2.6rem;
  padding-left: 2.9rem;
}
.prod-image__link img {
  width: 7.2rem;
  height: 5rem;
}
.prod-image__desc {
  margin: 0;
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: 3rem;
  line-height: 130%;
  color: #fff;
}
.prod-image__desc span {
  font-weight: 700;
}
.prod-image__btn {
  padding: 3rem;
  width: 100%;
  text-align: center;
  line-height: 1;
  height: auto;
}

.select {
  position: relative;
  z-index: 5;
  width: 24rem;
}
.select__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2.8rem 2rem;
  cursor: pointer;
}
.select__header > svg {
  width: 2rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.select__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.2rem;
}
.select__body {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
  top: calc(100% + 0.3rem);
  border-radius: 0.5rem;
  background-color: #fff;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}
.select__wrapper {
  padding: 2rem;
}
.select__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}
.select__item:not(:last-child) {
  margin-bottom: 2rem;
}
.select__item .select__name {
  color: #606778;
}
.select__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 3.3rem;
  height: 3.3rem;
  padding: 0.7rem;
  border-radius: 100%;
}
.select__icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.select__icon--whatsapp {
  background-color: #64d05d;
}
.select__icon--tg {
  background-color: #039be5;
}
.select__icon--email {
  background-color: #f47b0a;
}
.select__name {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
  color: #2d3241;
}

.cta__container {
  padding-top: 10rem;
  padding-bottom: 13rem;
  width: 100%;
  max-width: 157.5rem;
  margin: 0 auto;
  border-radius: 5rem;
  background: linear-gradient(24deg, #ecf3fb 0%, #c2d4e9 100%);
  position: relative;
}
.cta__container .container {
  position: relative;
  z-index: 5;
}
.cta__plug {
  margin-top: -10rem;
}
.cta__image {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 94rem;
  height: 100%;
}
.cta__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: bottom right;
  object-position: bottom right;
}
.cta__suptitle {
  margin-bottom: 1rem;
}
.cta__title {
  text-align: left;
  margin-bottom: 3rem;
}
.cta__title span {
  background: none;
  color: #ce3c46;
}
.cta__list {
  margin-bottom: 5rem;
}
.cta__form {
  margin-bottom: 4rem;
}
.cta__agree {
  display: block;
  max-width: 49.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 130%;
  color: #606778;
}
.cta__agree a {
  display: block;
  color: #3179df;
}

.cta-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
}
.cta-form__label {
  display: block;
  width: 24rem;
}
.cta-form__input {
  display: block;
  width: 100%;
  height: 9rem;
  border: none;
  background: none;
  background-color: #fff;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 130%;
  color: #606778;
  padding: 2rem;
}

.plug {
  position: relative;
  z-index: 5;
}
.plug__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2.7rem 3.7rem;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px 0 rgba(199, 219, 239, 0.5);
  box-shadow: 0 4px 20px 0 rgba(199, 219, 239, 0.5);
  border-radius: 1rem;
  position: relative;
}
.plug__container::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 95%;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px 0 rgba(199, 219, 239, 0.5);
  box-shadow: 0 4px 20px 0 rgba(199, 219, 239, 0.5);
  border-radius: 1rem;
}
.plug__pl {
  position: relative;
}
.plug__pl::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1px;
  height: 100%;
  background: #e0e0e0;
}
.plug__col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 30rem;
  flex-basis: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.plug__col .hero-top__text {
  font-size: 1.6rem;
}
.plug__col:not(:first-child) {
  padding-left: 6rem;
  padding-top: 0.9rem;
}
.plug__col:not(:last-child) {
  padding-right: 6rem;
}
.plug__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3rem;
}
.plug__name {
  display: block;
  margin-bottom: 1.2rem;
}
.plug__image {
  width: 11.5rem;
  height: 11.5rem;
  border-radius: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.plug__image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.types {
  padding-top: 22.4rem;
}
.types__title {
  margin: 0 auto;
  max-width: 95%;
  margin-bottom: 6rem;
}
.types__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  position: relative;
}
.types__tab {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #606778;
  cursor: pointer;
  position: relative;
  padding-bottom: 1.2rem;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.types__tab.active {
  color: #ce3c46;
}
.types__tab.active::before {
  width: 100%;
  opacity: 1;
}
.types__tab::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.4rem;
  width: 100%;
  background-color: #ce3c46;
  opacity: 0;
  width: 10%;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.types__line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.4rem;
  width: 100%;
  background-color: #ce3c46;
  opacity: 0;
  width: 10%;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}/*# sourceMappingURL=main.css.map */
