<section class="benefits">
  <div class="container">
    <div class="benefits__header">
      <h2 class="title2 benefits__title centered">
        С 2009 года изготавливаем, комплектуем, обслуживаем
        и ремонтируем <span>пластинчатые теплообменники</span>
      </h2>
      <p class="desc benefits__desc centered">
        по заводской цене <span>до 30% ниже рынка</span> благодаря автоматизации производства
      </p>
    </div>
    <div class="benefits__items">
      <div class="benefits__item">
        <div class="benefits__icon">
          <img src="./img/benefits/01.svg" alt="">
        </div>
        <div class="benefits__content">
          <p class="text benefits__text">
            Изготовили <span>более 16 000</span> теплообменников <span>за 14 лет</span> работы
          </p>
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__icon">
          <img src="./img/benefits/02.svg" alt="">
        </div>
        <div class="benefits__content">
          <p class="text benefits__text">
            <span>Более 400 производств</span> обновили устаревшее ТПО с нашей помощью в 2023 г.
          </p>
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__icon">
          <img src="./img/benefits/03.svg" alt="">
        </div>
        <div class="benefits__content">
          <p class="text benefits__text">
            <span>150 000 мВт</span> общей мощности теплообменного оборудования мы произвели за 2023 г.
          </p>
        </div>
      </div>


      <article class="benefits__col benefits-item" data-num="01">
        <div class="benefits-item__image">
          <picture>
            <source srcset="./img/benefits/11-2x.webp" type="image/webp" media="(min-width: 1440px)">
            <source srcset="./img/benefits/11.webp" type="image/webp">
            <img src="./img/benefits/11.jpg" srcset="./img/benefits/11-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="benefits-item__content">
          <div data-video-src="https://www.youtube.com/embed/EutHoq5jMqI" class="benefits-item__link watch-link">
            <span>Смотреть видео</span>
            <img src="./img/youtube-icon.svg" alt="">
          </div>
          <div class="benefits-item__wrapper">
            <h4 class="benefits-item__title title3">Производим теплообменники с гарантией до 5 лет</h4>
            <ul class="list">
              <li>Сроком службы до 20 лет</li>
              <li>Грамотно проектируем с запасом прочности и соблюдением ГОСТ и СНИП</li>
            </ul>
          </div>
          <a href="https://teploobmennik-russia.ru/content/proizvodstvo-plastinchatyh-teploobmennikov" target="_blank"
            class="btn-reset btn btn--blue benefits-item__btn">
            Подобрать<br>теплообменник
          </a>
        </div>
      </article>
      <article class="benefits__col benefits-item" data-num="02">
        <div class="benefits-item__image">
          <picture>
            <source srcset="./img/benefits/12-2x.webp" type="image/webp" media="(min-width: 1440px)">
            <source srcset="./img/benefits/12.webp" type="image/webp">
            <img src="./img/benefits/12.jpg" srcset="./img/benefits/12-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="benefits-item__content">
          <div data-video-src="https://www.youtube.com/embed/EQaOVhcXCCI" class="benefits-item__link watch-link">
            <span>Смотреть видео</span>
            <img src="./img/youtube-icon.svg" alt="">
          </div>
          <div class="benefits-item__wrapper">
            <h4 class="benefits-item__title title3">Комплектуем пластинами и&nbsp;уплотнениями</h4>
            <ul class="list">
              <li>Всегда в наличии более 20000 комплектующих для любых теплообменников импортного и отечественного
                производства</li>
              <li>Подберем и отправим в тот же день</li>
            </ul>
          </div>
          <a href="https://teploobmennik-russia.ru/content/komplektaciya-plastinami-i-uplotneniyami" target="_blank"
            class="btn-reset btn btn--blue benefits-item__btn">
            Подобрать<br>комплектующие
          </a>
        </div>
      </article>
      <article class="benefits__col benefits-item" data-num="03">
        <div class="benefits-item__image">
          <picture>
            <source srcset="./img/benefits/13-2x.webp" type="image/webp" media="(min-width: 1440px)">
            <source srcset="./img/benefits/13.webp" type="image/webp">
            <img src="./img/benefits/13.jpg" srcset="./img/benefits/13-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="benefits-item__content">
          <div data-video-src="https://www.youtube.com/embed/eL6pfJoyjP0" class="benefits-item__link watch-link">
            <span>Смотреть видео</span>
            <img src="./img/youtube-icon.svg" alt="">
          </div>
          <div class="benefits-item__wrapper">
            <h4 class="benefits-item__title title3">Проводим сервисные и&nbsp;монтажные работы</h4>
            <ul class="list">
              <li>Промоем теплообменник и&nbsp;заменим уплотнения</li>
              <li>Отремонтируем любой теплообменник</li>
              <li>Подключим теплообменник к&nbsp;инженерным сетям</li>
            </ul>
          </div>
          <a href="https://teploobmennik-russia.ru/content/provedenie-servisnyh-i-montazhnyh-rabot" target="_blank"
            class="btn-reset btn btn--blue benefits-item__btn">
            Оставить заявку на&nbsp;обслуживание
          </a>
        </div>
      </article>
    </div>
  </div>
</section>