<section class="blocks">
  <h2 class="visually-hidden">title</h2>

  <div class="container">
    <div class="blocks__container">
      <div class="blocks__item">
        <div class="blocks__img">
          <picture>
            <source srcset="./img/blocks/01-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/blocks/01-2x.webp" type="image/webp">
            <img src="./img/blocks/01.jpg" srcset="./img/blocks/01-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="blocks__content">
          <div class="blocks__title">Для исключения брака и при ремонте используем <span>люминисцентные
              пенетранты</span>
          </div>
          <p class="blocks__desc">они показывают микротрещины на пластинах теплообменника</p>
        </div>
      </div>
      <div class="blocks__item">
        <div class="blocks__img">
          <picture>
            <source srcset="./img/blocks/02-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/blocks/02-2x.webp" type="image/webp">
            <img src="./img/blocks/02.jpg" srcset="./img/blocks/02-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="blocks__content">
          <div class="blocks__title">Каждый теплообменник проходит опрессовку: <span>проверку избыточным
              давлением</span>
            на 30% выше рабочего</div>
          <p class="blocks__desc">к каждому теплообменнику прикладываем паспорт испытаний</p>
        </div>
      </div>
      <div class="blocks__item">
        <div class="blocks__img">
          <picture>
            <source srcset="./img/blocks/03-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/blocks/03-2x.webp" type="image/webp">
            <img src="./img/blocks/03.jpg" srcset="./img/blocks/03-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="blocks__content">
          <div class="blocks__title">Для удобства монтажа сделаем патрубки <span>под ваши размеры труб</span>
            и изготовим
            комплект обвязки</div>
          <p class="blocks__desc">из нержавейки, стандартные, с отворотами, вбок, влево, вверх</p>
        </div>
      </div>
      <div class="blocks__item">
        <div class="blocks__img">
          <picture>
            <source srcset="./img/blocks/04-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/blocks/04-2x.webp" type="image/webp">
            <img src="./img/blocks/04.jpg" srcset="./img/blocks/04-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="blocks__content">
          <div class="blocks__title"><span>Экономьте до 20% энергоресурсов</span> за счет КПД наших теплообменников 85%
          </div>
          <p class="blocks__desc">быстрее нагревайте нужный объем теплоносителя при тех же энергозатратах</p>
        </div>
      </div>
    </div>
  </div>
</section>