<section class="cond">
  <div class="container">
    <h2 class="title2 cond__title">
      Разработали условия <span>выгодного сотрудничества с:</span>
    </h2>
    <div class="cond__slider">
      <div class="cond__items swiper-wrapper">
        <article
          class="benefits__col benefits-item cond__item swiper-slide"
          data-num="01"
        >
          <div class="benefits-item__image">
            <picture>
              <source
                srcset="./img/cond/01-2x.webp"
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source srcset="./img/cond/01.webp" type="image/webp" />
              <img
                src="./img/cond/01.jpg"
                srcset="./img/cond/01-2x.jpg 2x"
                alt=""
              />
            </picture>
          </div>
          <div class="benefits-item__content">
            <div class="benefits-item__wrapper">
              <h4 class="benefits-item__title title3">
                Инженерами-монтажниками
              </h4>
              <ul class="list">
                <li>Защитим и обоснуем цену проекта перед вашим заказчиком</li>
                <li>Изготовим оборудование в срок от 3 часов</li>
              </ul>
            </div>
          </div>
        </article>
        <article
          class="benefits__col benefits-item cond__item swiper-slide"
          data-num="02"
        >
          <div class="benefits-item__image">
            <picture>
              <source
                srcset="./img/cond/02-2x.webp"
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source srcset="./img/cond/02.webp" type="image/webp" />
              <img
                src="./img/cond/02.jpg"
                srcset="./img/cond/02-2x.jpg 2x"
                alt=""
              />
            </picture>
          </div>
          <div class="benefits-item__content">
            <div class="benefits-item__wrapper">
              <h4 class="benefits-item__title title3">
                Энергетиками, теплотехниками
              </h4>
              <ul class="list">
                <li>
                  Доставим комплектующие для любой модели в течение 1 дня, решим
                  вопрос без вашего участия
                </li>
              </ul>
            </div>
          </div>
        </article>
        <article
          class="benefits__col benefits-item cond__item swiper-slide"
          data-num="03"
        >
          <div class="benefits-item__image">
            <picture>
              <source
                srcset="./img/cond/03-2x.webp"
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source srcset="./img/cond/03.webp" type="image/webp" />
              <img
                src="./img/cond/03.jpg"
                srcset="./img/cond/03-2x.jpg 2x"
                alt=""
              />
            </picture>
          </div>
          <div class="benefits-item__content">
            <div class="benefits-item__wrapper">
              <h4 class="benefits-item__title title3">ТСЖ, УК, бизнесом</h4>
              <ul class="list">
                <li>
                  Возьмем на себя общение с инженером или сами сделаем расчет
                  теплообменника с минимальными данными.
                </li>
                <li>Предоставим гарантию до 5 лет</li>
              </ul>
            </div>
          </div>
        </article>
        <article
          class="benefits__col benefits-item cond__item swiper-slide"
          data-num="04"
        >
          <div class="benefits-item__image">
            <picture>
              <source
                srcset="./img/cond/04-2x.webp"
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source srcset="./img/cond/04.webp" type="image/webp" />
              <img
                src="./img/cond/04.jpg"
                srcset="./img/cond/04-2x.jpg 2x"
                alt=""
              />
            </picture>
          </div>
          <div class="benefits-item__content">
            <div class="benefits-item__wrapper">
              <h4 class="benefits-item__title title3">Проектировщиками</h4>
              <ul class="list">
                <li>
                  Предоставим все необходимые чертежи и расчеты с соблюдением
                  ГОСТ и СНИП
                </li>
                <li>
                  Расчеты проводим&nbsp;в собственных программах с 3D моделями
                </li>
              </ul>
            </div>
          </div>
        </article>
        <article
          class="benefits__col benefits-item cond__item swiper-slide"
          data-num="05"
        >
          <div class="benefits-item__image">
            <picture>
              <source
                srcset="./img/cond/05-2x.webp"
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source srcset="./img/cond/05.webp" type="image/webp" />
              <img
                src="./img/cond/05.jpg"
                srcset="./img/cond/05-2x.jpg 2x"
                alt=""
              />
            </picture>
          </div>
          <div class="benefits-item__content">
            <div class="benefits-item__wrapper">
              <h4 class="benefits-item__title title3">Участниками тендеров</h4>
              <ul class="list">
                <li>Поможем составить ТЗ</li>
                <li>Подготовим все необходимые документы</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="cond__bottom">
      <div class="cond__hand hand">
        <img src="./img/hand.svg" alt="">
      </div>
    </div>
  </div>
</section>
