<section class="gost">
  <div class="container">
    <div class="gost__header">
      <h2 class="title2 gost__title">Каждый теплообменник сертифицирован и <span>соответствует ГОСТ</span></h2>
      <p class="desc gost__desc">Предоставим необходимый для эксплуатации или участия в тендере <span>сертификат</span>
      </p>
    </div>

    <div class="gost__items">
      <div class="gost__item gost-item">
        <div class="gost-item__preview" data-fancybox="gallery" data-src="./img/doc-preview.jpg">
          <img src="./img/doc-preview.jpg" alt="">
        </div>

        <div class="gost-item__content">
          <div class="title3 gost-item__title">Сертификат на разборные теплообменники</div>
          <div class="gost-item__bottom">
            <div class="gost-item__icon">
              <img src="./img/info-icon.svg" alt="">
            </div>
            <div class="gost-item__to">
              действует до&nbsp;16.02.2026 г.
            </div>
          </div>
        </div>

      </div>
      <div class="gost__item gost-item">
        <div class="gost-item__preview" data-fancybox="gallery" data-src="./img/doc-preview.jpg">
          <img src="./img/doc-preview.jpg" alt="">
        </div>

        <div class="gost-item__content">
          <div class="title3 gost-item__title">Сертификат на пластины и уплотнения</div>
          <div class="gost-item__bottom">
            <div class="gost-item__icon">
              <img src="./img/info-icon.svg" alt="">
            </div>
            <div class="gost-item__to">
              действует до&nbsp;13.02.2026 г.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>