<section class="hydro">
  <div class="container">
    <div class="hydro__header">
      <h2 class="title2 hydro__title">
        Теплообменники от Термосистем
        <span>выдержат любой гидроудар</span> или скачок давления 
      </h2>
      <p class="hydro__desc desc">
        Вам <span>не придется делать</span> дорогостоящий ремонт оборудования
      </p>
    </div>

    <div class="hydro__body">
      <div class="hydro__item hydro-item">
        <div class="hydro-item__body">
          <div class="hydro-item__container">
            <div class="hydro-item__img">
              <picture>
                <source
                  srcset="./img/hydro/01-2x.webp"
                  type="image/webp"
                  media="(min-width: 1920px)"
                />
                <source srcset="./img/hydro/01.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/hydro/01.jpg"
                  srcset="./img/hydro/01-2x.jpg 2x"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="hydro-item__content">
              <div>
                <div class="hydro-item__capture">
                  Будьте спокойны за оборудование, <span>мы подберем:</span>
                </div>

                <ul class="list-reset hydro-item__list">
                  <li class="hydro-item__item">
                    <span>правильные рабочие температуры сред,</span> которые
                    поступают в теплообменник
                  </li>
                  <li class="hydro-item__item">
                    <span>оптимальные материалы,</span> из которых будет
                    изготовлен теплообменник
                  </li>
                </ul>
              </div>

              <div class="hydro-item__speach speacher">
                <div class="speacher__about">
                  <div class="speacher__img">
                    <picture>
                      <source
                        srcset="./img/andrey-2x.webp"
                        type="image/webp"
                        media="(min-width: 1920px)"
                      />
                      <source srcset="./img/andrey.webp" type="image/webp" />
                      <img
                        loading="lazy"
                        src="./img/andrey.png"
                        srcset="./img/andrey-2x.png 2x"
                        class="image"
                        width=""
                        height=""
                        alt=""
                      />
                    </picture>
                  </div>
                  <span class="speacher__name">Рыбалко Андрей</span>
                  <span class="speacher__prof">Инженер проекта</span>
                </div>
                <div class="speacher__content">
                  <p class="speacher__desc">
                    Например, для обычного теплообменника, который используется
                    для нагрева воды в жилом доме,
                    <span
                      >нет смысла использовать дорогие титановые пластины</span
                    >
                    и высокотемпературные уплотнения. Отлично подойдут пластины
                    из нержавеющей стали и стандартные уплотнения EPDM.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hydro__item hydro-item">
        <div class="hydro-item__body">
          <div class="hydro-item__container">
            <div class="hydro-item__img">
              <picture>
                <source
                  srcset="./img/hydro/02-2x.webp"
                  type="image/webp"
                  media="(min-width: 1920px)"
                />
                <source srcset="./img/hydro/02.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/hydro/02.jpg"
                  srcset="./img/hydro/02-2x.jpg 2x"
                  class="image"
                  width=""
                  height=""
                  alt=""
                />
              </picture>
            </div>
            <div class="hydro-item__content">
              <div>
                <div class="hydro-item__capture">
                  При этом мы <span>НЕ удешевляем</span> теплообменник
                  <span>в ущерб качеству:</span>
                </div>

                <ul class="list-reset hydro-item__list">
                  <li class="hydro-item__item">
                    <span>уточняем негативные факторы</span> эксплуатации для
                    расчета запаса поверхности теплообмена (от 0 до 30%)
                  </li>
                  <li class="hydro-item__item">
                    <span>учитываем,</span> что через 2-3 года показатели работы
                    теплообменников снизятся из-за накипи и загрязнений
                  </li>
                  <li class="hydro-item__item">
                    <span>не снижаем количество пластин</span> (потери давления
                    не превысят предельно допустимые 20-30 кПа)
                  </li>
                  <li class="hydro-item__item">
                    <span>не зауживаем диаметр патрубков</span> (нет переплаты
                    от быстрого износа и необходимости замены)
                  </li>
                  <li class="hydro-item__item">
                    <span>не экономим на металле корпуса</span> (рабочие
                    параметры теплообменника сохраняются долгое время)
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
