<section class="objects">
  <div class="container">
    <div class="objects__container">
      <div class="objects__content">
        <h2 class="title2 objects__title">Наши <span>объекты</span></h2>
        <p class="desc objects__desc">Каждый день мы производим теплообменники и доставляем заказчикам <span>по всей
            России</span></p>
        <a href="#" class="btn btn-reset btn--blue objects__btn">Смотреть объекты</a>
      </div>

      <div class="objects__image">
        <picture>
          <source srcset="./img/objects/01-2x.webp" type="image/webp" media="(min-width: 1920px)">
          <source srcset="./img/objects/01-2x.webp" type="image/webp">
          <img src="./img/objects/01.png" srcset="./img/objects/01-2x.png 2x" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>