<div class="popup popup-data popup--recall">
  <div class="popup__body popup-data__body">
    <div class="popup__close">
      <svg
        width="35"
        height="35"
        viewBox="0 0 35 35"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="0.000488281"
          y="34.0278"
          width="48.1213"
          height="1.37489"
          transform="rotate(-45 0.000488281 34.0278)"
          fill="white"
        />
        <rect
          x="0.972168"
          width="48.1213"
          height="1.37489"
          transform="rotate(45 0.972168 0)"
          fill="white"
        />
      </svg>
    </div>
    <div class="popup-data__top">
      <div class="popup-data__img">
        <picture>
          <source
            srcset="./img/taras.webp"
            type="image/webp"
            media="(min-width: 1920px)"
          />
          <source srcset="./img/taras-2x.webp" type="image/webp" />
          <img src="./img/taras.png" srcset="./img/taras-2x.png 2x" alt="" />
        </picture>
      </div>
      <div class="popup-data__exp">
        <div class="popup-data__name">Сердюк Тарас Евгеньевич</div>
        <div class="popup-data__prof">Главный инженер</div>
      </div>
    </div>
    <div class="popup-data__content">
      <h4 class="popup__title popup-data__title">Оставьте ваши данные</h4>
      <p class="popup__desc popup-data__desc">
        и я перезвоню в течение 30 минут
      </p>

      <form action="" class="popup-data__form popup-form">
        <input type="hidden" name="Тема_сообщения:" value="Перезвонить" />
        <label class="popup-form__label">
          <input
            type="tel"
            class="popup-form__input input-tel"
            placeholder="Ваш телефон*"
          />
        </label>
        <button class="btn btn-reset btn--red popup__btn popup-form__btn">
          Перезвоните мне
        </button>
        <div class="popup-form__accept">
          Нажимая кнопку, вы соглашаетесь с условиями
          <a
            href="https://teploobmennik-russia.ru/content/politika-konfidencialnosti"
            target="_blank"
            >Пользовательского соглашения</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
