<form class="popup popup-quiz quiz-form">
  <div class="popup__body popup-quiz__body">
    <div class="popup__close">
      <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.000488281" y="34.0278" width="48.1213" height="1.37489" transform="rotate(-45 0.000488281 34.0278)"
          fill="white" />
        <rect x="0.972168" width="48.1213" height="1.37489" transform="rotate(45 0.972168 0)" fill="white" />
      </svg>
    </div>
    <h4 class="popup__title popup-quiz__title">Быстрый расчет теплообменника</h4>

    <div class="popup-quiz__content quiz">
      <div class="quiz__col">
        <div class="quiz__title">Греющая сторона</div>
        <input type="hidden" value="Греющая сторона">
        <label class="quiz__label">
          <span class="quiz__capture">Тип греющей среды</span>
          <div class="select quiz__select">
            <select name="Тип греющей среды" class="select__r visually-hidden">
              <option value="Вода" selected>Вода</option>
              <option value="Пар">Пар</option>
              <option value="Этиленгликоль">Этиленгликоль</option>
              <option value="Пропиленгликоль">Пропиленгликоль</option>
              <option value="Другое">Другое</option>
            </select>

            <div class="select__header">
              <div class="select__info">
                <span class="select__name">Вода</span>
              </div>

              <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L8.5 2L16 9" stroke="#606778" stroke-width="2" stroke-linecap="round" />
              </svg>
            </div>
            <div class="select__body">
              <div class="select__wrapper">
                <div class="select__item">
                  <span class="select__name">Вода</span>
                </div>
                <div class="select__item">
                  <span class="select__name">Пар</span>
                </div>
                <div class="select__item">
                  <span class="select__name">Этиленгликоль</span>
                </div>
                <div class="select__item">
                  <span class="select__name">Пропиленгликоль</span>
                </div>
                <div class="select__item">
                  <span class="select__name">Другое</span>
                </div>
              </div>
            </div>
          </div>
        </label>

        <label class="quiz__label">
          <span class="quiz__capture">Расход</span>

          <div class="quiz__row">
            <div class="quiz__input-wrapper" data-hint="Пропускная способность">
              <input type="number" min="0" name="Расход" class="quiz__input" placeholder="0">
              <button class="quiz__hint btn-reset"><svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M4.10045 6.59099H2.20158C2.20158 5.77915 2.79326 4.99484 3.35741 4.55452C3.92157 4.10045 4.51324 3.45373 4.51324 2.8483C4.51324 2.20158 4.04541 1.84383 3.26109 1.84383C2.49054 1.84383 1.94014 2.25662 1.62367 3.06846L0 2.13278C0.550396 0.770554 1.84383 0 3.32989 0C4.16925 0 4.88476 0.247678 5.4902 0.729275C6.10939 1.21087 6.41211 1.87135 6.41211 2.7107C6.41211 4.76092 4.10045 5.39388 4.10045 6.59099ZM3.97661 9.65944C3.52253 10.1135 2.7795 10.1135 2.32542 9.65944C1.87135 9.20537 1.87135 8.46233 2.32542 8.00826C2.7795 7.55418 3.52253 7.55418 3.97661 8.00826C4.43068 8.46233 4.43068 9.20537 3.97661 9.65944Z"
                    fill="#3179DF" />
                </svg>
              </button>
            </div>

            <div class="select quiz__select quiz__select--short">
              <select name="Единица измерения расхода" class="select__r visually-hidden">
                <option value="т/ч" selected>т/ч</option>
                <option value="л/мин">л/мин</option>
                <option value="м3/ч">м3/ч</option>
                <option value="кг/ч">кг/ч</option>
              </select>

              <div class="select__header">
                <div class="select__info">
                  <span class="select__name">т/ч</span>
                </div>

                <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 9L8.5 2L16 9" stroke="#606778" stroke-width="2" stroke-linecap="round" />
                </svg>
              </div>
              <div class="select__body">
                <div class="select__wrapper">
                  <div class="select__item">
                    <span class="select__name">т/ч</span>
                  </div>
                  <div class="select__item">
                    <span class="select__name">л/мин</span>
                  </div>
                  <div class="select__item">
                    <span class="select__name">м3/ч</span>
                  </div>
                  <div class="select__item">
                    <span class="select__name">кг/ч</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </label>

        <label class="quiz__label">
          <span class="quiz__capture">Температура на входе</span>
          <div class="quiz__input-wrapper"
            data-hint="Температура горячего контура на входе теплообменника. Данные могут быть в технических условиях или по договору с теплоснабжающей компанией.">
            <input min="0" name="Температура на входе" type="number" class="quiz__input" placeholder="0">
            <button class="quiz__hint btn-reset">
              <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.10045 6.59099H2.20158C2.20158 5.77915 2.79326 4.99484 3.35741 4.55452C3.92157 4.10045 4.51324 3.45373 4.51324 2.8483C4.51324 2.20158 4.04541 1.84383 3.26109 1.84383C2.49054 1.84383 1.94014 2.25662 1.62367 3.06846L0 2.13278C0.550396 0.770554 1.84383 0 3.32989 0C4.16925 0 4.88476 0.247678 5.4902 0.729275C6.10939 1.21087 6.41211 1.87135 6.41211 2.7107C6.41211 4.76092 4.10045 5.39388 4.10045 6.59099ZM3.97661 9.65944C3.52253 10.1135 2.7795 10.1135 2.32542 9.65944C1.87135 9.20537 1.87135 8.46233 2.32542 8.00826C2.7795 7.55418 3.52253 7.55418 3.97661 8.00826C4.43068 8.46233 4.43068 9.20537 3.97661 9.65944Z"
                  fill="#3179DF" />
              </svg>
            </button>
          </div>
        </label>
        <label class="quiz__label">
          <span class="quiz__capture">Температура на выходе</span>
          <div class="quiz__input-wrapper"
            data-hint="Температура горячего контура на выходе теплообменника. Данные могут быть в технических условиях или по договору с теплоснабжающей компанией.">
            <input min="0" name="Температура на выходе" type="number" class="quiz__input" placeholder="0">
            <button class="quiz__hint btn-reset"><svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.10045 6.59099H2.20158C2.20158 5.77915 2.79326 4.99484 3.35741 4.55452C3.92157 4.10045 4.51324 3.45373 4.51324 2.8483C4.51324 2.20158 4.04541 1.84383 3.26109 1.84383C2.49054 1.84383 1.94014 2.25662 1.62367 3.06846L0 2.13278C0.550396 0.770554 1.84383 0 3.32989 0C4.16925 0 4.88476 0.247678 5.4902 0.729275C6.10939 1.21087 6.41211 1.87135 6.41211 2.7107C6.41211 4.76092 4.10045 5.39388 4.10045 6.59099ZM3.97661 9.65944C3.52253 10.1135 2.7795 10.1135 2.32542 9.65944C1.87135 9.20537 1.87135 8.46233 2.32542 8.00826C2.7795 7.55418 3.52253 7.55418 3.97661 8.00826C4.43068 8.46233 4.43068 9.20537 3.97661 9.65944Z"
                  fill="#3179DF" />
              </svg>
            </button>
          </div>
        </label>
        <label class="quiz__label">
          <span class="quiz__capture">Потери давления</span>
          <div class="quiz__input-wrapper"
            data-hint="Допустимое снижение давления при прохождении жидкости по контуру.">
            <button class="quiz__hint btn-reset"><svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.10045 6.59099H2.20158C2.20158 5.77915 2.79326 4.99484 3.35741 4.55452C3.92157 4.10045 4.51324 3.45373 4.51324 2.8483C4.51324 2.20158 4.04541 1.84383 3.26109 1.84383C2.49054 1.84383 1.94014 2.25662 1.62367 3.06846L0 2.13278C0.550396 0.770554 1.84383 0 3.32989 0C4.16925 0 4.88476 0.247678 5.4902 0.729275C6.10939 1.21087 6.41211 1.87135 6.41211 2.7107C6.41211 4.76092 4.10045 5.39388 4.10045 6.59099ZM3.97661 9.65944C3.52253 10.1135 2.7795 10.1135 2.32542 9.65944C1.87135 9.20537 1.87135 8.46233 2.32542 8.00826C2.7795 7.55418 3.52253 7.55418 3.97661 8.00826C4.43068 8.46233 4.43068 9.20537 3.97661 9.65944Z"
                  fill="#3179DF" />
              </svg>
            </button>
            <input min="0" name="Потери давления" type="number" class="quiz__input" placeholder="0">
          </div>
        </label>
      </div>
      <div class="quiz__col">
        <div class="quiz__image">
          <picture>
            <source srcset="./img/quiz/01-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/quiz/01.webp" type="image/webp">
            <img loading="lazy" img="./img/quiz/01.png" srcset="./img/quiz/01-2x.png 2x" class="image" width=""
              height="" alt="">
          </picture>
        </div>
        <div class="quiz__row">
          <div class="quiz__input-wrapper"
            data-hint="Количество тепла, проходящее с первой на вторую сторону теплообменника. Указано в проектной документации">
            <input type="number" class="quiz__input" placeholder="Мощность">
            <button class="quiz__hint btn-reset"><svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.10045 6.59099H2.20158C2.20158 5.77915 2.79326 4.99484 3.35741 4.55452C3.92157 4.10045 4.51324 3.45373 4.51324 2.8483C4.51324 2.20158 4.04541 1.84383 3.26109 1.84383C2.49054 1.84383 1.94014 2.25662 1.62367 3.06846L0 2.13278C0.550396 0.770554 1.84383 0 3.32989 0C4.16925 0 4.88476 0.247678 5.4902 0.729275C6.10939 1.21087 6.41211 1.87135 6.41211 2.7107C6.41211 4.76092 4.10045 5.39388 4.10045 6.59099ZM3.97661 9.65944C3.52253 10.1135 2.7795 10.1135 2.32542 9.65944C1.87135 9.20537 1.87135 8.46233 2.32542 8.00826C2.7795 7.55418 3.52253 7.55418 3.97661 8.00826C4.43068 8.46233 4.43068 9.20537 3.97661 9.65944Z"
                  fill="#3179DF" />
              </svg>
            </button>
          </div>

          <div class="select quiz__select quiz__select--short">
            <select name="Единица измерения мощности" class="select__r visually-hidden">
              <option value="кКал/ч" selected>кКал/ч</option>
              <option value="Гкал/ч">Гкал/ч</option>
              <option value="Вт">Вт</option>
              <option value="кВт">кВт</option>
              <option value="МВт">МВт</option>
            </select>

            <div class="select__header">
              <div class="select__info">
                <span class="select__name">кКал/ч</span>
              </div>

              <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L8.5 2L16 9" stroke="#606778" stroke-width="2" stroke-linecap="round" />
              </svg>
            </div>
            <div class="select__body">
              <div class="select__wrapper">
                <div class="select__item">
                  <span class="select__name">т/ч</span>
                </div>
                <div class="select__item">
                  <span class="select__name">Гкал/ч</span>
                </div>
                <div class="select__item">
                  <span class="select__name">Вт</span>
                </div>
                <div class="select__item">
                  <span class="select__name">кВт</span>
                </div>
                <div class="select__item">
                  <span class="select__name">МВт</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="quiz__col">
        <div class="quiz__title quiz__title--hot">Нагреваемая сторона</div>
        <input type="hidden" value="Нагреваемая сторона">
        <label class="quiz__label">
          <span class="quiz__capture">Тип греющей среды</span>
          <div class="select quiz__select">
            <select name="Тип греющей среды" class="select__r visually-hidden">
              <option value="Вода" selected>Вода</option>
              <option value="Пар">Пар</option>
              <option value="Этиленгликоль">Этиленгликоль</option>
              <option value="Пропиленгликоль">Пропиленгликоль</option>
              <option value="Другое">Другое</option>
            </select>

            <div class="select__header">
              <div class="select__info">
                <span class="select__name">Вода</span>
              </div>

              <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L8.5 2L16 9" stroke="#606778" stroke-width="2" stroke-linecap="round" />
              </svg>
            </div>
            <div class="select__body">
              <div class="select__wrapper">
                <div class="select__item">
                  <span class="select__name">Вода</span>
                </div>
                <div class="select__item">
                  <span class="select__name">Пар</span>
                </div>
                <div class="select__item">
                  <span class="select__name">Этиленгликоль</span>
                </div>
                <div class="select__item">
                  <span class="select__name">Пропиленгликоль</span>
                </div>
                <div class="select__item">
                  <span class="select__name">Другое</span>
                </div>
              </div>
            </div>
          </div>
        </label>

        <label class="quiz__label">
          <span class="quiz__capture">Расход</span>

          <div class="quiz__row">
            <div class="quiz__input-wrapper" data-hint="Пропускная способность">
              <input type="number" min="0" name="Расход" class="quiz__input" placeholder="0">
              <button class="quiz__hint btn-reset"><svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M4.10045 6.59099H2.20158C2.20158 5.77915 2.79326 4.99484 3.35741 4.55452C3.92157 4.10045 4.51324 3.45373 4.51324 2.8483C4.51324 2.20158 4.04541 1.84383 3.26109 1.84383C2.49054 1.84383 1.94014 2.25662 1.62367 3.06846L0 2.13278C0.550396 0.770554 1.84383 0 3.32989 0C4.16925 0 4.88476 0.247678 5.4902 0.729275C6.10939 1.21087 6.41211 1.87135 6.41211 2.7107C6.41211 4.76092 4.10045 5.39388 4.10045 6.59099ZM3.97661 9.65944C3.52253 10.1135 2.7795 10.1135 2.32542 9.65944C1.87135 9.20537 1.87135 8.46233 2.32542 8.00826C2.7795 7.55418 3.52253 7.55418 3.97661 8.00826C4.43068 8.46233 4.43068 9.20537 3.97661 9.65944Z"
                    fill="#3179DF" />
                </svg>
              </button>
            </div>

            <div class="select quiz__select quiz__select--short">
              <select name="Единица измерения расхода" class="select__r visually-hidden">
                <option value="т/ч" selected>т/ч</option>
                <option value="л/мин">л/мин</option>
                <option value="м3/ч">м3/ч</option>
                <option value="кг/ч">кг/ч</option>
              </select>

              <div class="select__header">
                <div class="select__info">
                  <span class="select__name">т/ч</span>
                </div>

                <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 9L8.5 2L16 9" stroke="#606778" stroke-width="2" stroke-linecap="round" />
                </svg>
              </div>
              <div class="select__body">
                <div class="select__wrapper">
                  <div class="select__item">
                    <span class="select__name">т/ч</span>
                  </div>
                  <div class="select__item">
                    <span class="select__name">л/мин</span>
                  </div>
                  <div class="select__item">
                    <span class="select__name">м3/ч</span>
                  </div>
                  <div class="select__item">
                    <span class="select__name">кг/ч</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </label>

        <label class="quiz__label">
          <span class="quiz__capture">Температура на входе</span>
          <div class="quiz__input-wrapper"
            data-hint="Температура горячего контура на входе теплообменника. Данные могут быть в технических условиях или по договору с теплоснабжающей компанией.">
            <input min="0" name="Температура на входе" type="number" class="quiz__input" placeholder="0">
            <button class="quiz__hint btn-reset">
              <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.10045 6.59099H2.20158C2.20158 5.77915 2.79326 4.99484 3.35741 4.55452C3.92157 4.10045 4.51324 3.45373 4.51324 2.8483C4.51324 2.20158 4.04541 1.84383 3.26109 1.84383C2.49054 1.84383 1.94014 2.25662 1.62367 3.06846L0 2.13278C0.550396 0.770554 1.84383 0 3.32989 0C4.16925 0 4.88476 0.247678 5.4902 0.729275C6.10939 1.21087 6.41211 1.87135 6.41211 2.7107C6.41211 4.76092 4.10045 5.39388 4.10045 6.59099ZM3.97661 9.65944C3.52253 10.1135 2.7795 10.1135 2.32542 9.65944C1.87135 9.20537 1.87135 8.46233 2.32542 8.00826C2.7795 7.55418 3.52253 7.55418 3.97661 8.00826C4.43068 8.46233 4.43068 9.20537 3.97661 9.65944Z"
                  fill="#3179DF" />
              </svg>
            </button>
          </div>
        </label>
        <label class="quiz__label">
          <span class="quiz__capture">Температура на выходе</span>
          <div class="quiz__input-wrapper"
            data-hint="Температура горячего контура на выходе теплообменника. Данные могут быть в технических условиях или по договору с теплоснабжающей компанией.">
            <button class="quiz__hint btn-reset"><svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.10045 6.59099H2.20158C2.20158 5.77915 2.79326 4.99484 3.35741 4.55452C3.92157 4.10045 4.51324 3.45373 4.51324 2.8483C4.51324 2.20158 4.04541 1.84383 3.26109 1.84383C2.49054 1.84383 1.94014 2.25662 1.62367 3.06846L0 2.13278C0.550396 0.770554 1.84383 0 3.32989 0C4.16925 0 4.88476 0.247678 5.4902 0.729275C6.10939 1.21087 6.41211 1.87135 6.41211 2.7107C6.41211 4.76092 4.10045 5.39388 4.10045 6.59099ZM3.97661 9.65944C3.52253 10.1135 2.7795 10.1135 2.32542 9.65944C1.87135 9.20537 1.87135 8.46233 2.32542 8.00826C2.7795 7.55418 3.52253 7.55418 3.97661 8.00826C4.43068 8.46233 4.43068 9.20537 3.97661 9.65944Z"
                  fill="#3179DF" />
              </svg>
            </button>
            <input min="0" name="Температура на выходе" type="number" class="quiz__input" placeholder="0">
          </div>
        </label>
        <label class="quiz__label">
          <span class="quiz__capture">Потери давления</span>
          <div class="quiz__input-wrapper"
            data-hint="Допустимое снижение давления при прохождении жидкости по контуру.">
            <button class="quiz__hint btn-reset"><svg width="7" height="10" viewBox="0 0 7 10" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.10045 6.59099H2.20158C2.20158 5.77915 2.79326 4.99484 3.35741 4.55452C3.92157 4.10045 4.51324 3.45373 4.51324 2.8483C4.51324 2.20158 4.04541 1.84383 3.26109 1.84383C2.49054 1.84383 1.94014 2.25662 1.62367 3.06846L0 2.13278C0.550396 0.770554 1.84383 0 3.32989 0C4.16925 0 4.88476 0.247678 5.4902 0.729275C6.10939 1.21087 6.41211 1.87135 6.41211 2.7107C6.41211 4.76092 4.10045 5.39388 4.10045 6.59099ZM3.97661 9.65944C3.52253 10.1135 2.7795 10.1135 2.32542 9.65944C1.87135 9.20537 1.87135 8.46233 2.32542 8.00826C2.7795 7.55418 3.52253 7.55418 3.97661 8.00826C4.43068 8.46233 4.43068 9.20537 3.97661 9.65944Z"
                  fill="#3179DF" />
              </svg>
            </button>
            <input min="0" name="Потери давления" type="number" class="quiz__input" placeholder="0">
          </div>
        </label>
      </div>

      <div class="quiz__bottom">
        <div class="btn-reset btn btn--red quiz__btn quiz__btn--dis">Рассчитать</div>
      </div>
    </div>
  </div>

  @include('quiz-popup-form.html')
</form>