<section class="production">
  <div class="container production__container">
    <div class="production__content">
      <h2 class="title2 production__title">
        Более 200 моделей теплообменников выпускаем
        <span>на регулярной основе</span>
      </h2>
      <p class="desc production__desc">
        Изготовим теплообменник
        <span>под любые условия эксплуатации</span> мощностью от 10 кВт до 30
        мВт 
      </p>

      <div class="production__items">
        <div class="production__item prod-item">
          <div class="prod-item__image">
            <picture>
              <source srcset="./img/production/01-2x.webp" type="image/webp" media="(min-width: 1440px)" />
              <source srcset="./img/production/01.webp" type="image/webp" />
              <img src="./img/production/01.jpg" srcset="./img/production/01-2x.jpg 2x" alt="" />
            </picture>
          </div>
          <div class="prod-item__content">
            <span class="prod-item__capture">
              Используем европейские роботизированные станки
            </span>
            <span class="prod-item__desc">
              Производство автоматизировано на 80%
            </span>
          </div>
        </div>
        <div class="production__item prod-item">
          <div class="prod-item__image">
            <picture>
              <source srcset="./img/production/02-2x.webp" type="image/webp" media="(min-width: 1440px)" />
              <source srcset="./img/production/02.webp" type="image/webp" />
              <img src="./img/production/02.jpg" srcset="./img/production/02-2x.jpg 2x" alt="" />
            </picture>
          </div>
          <div class="prod-item__content">
            <span class="prod-item__capture">
              Сами изготавливаем все комплектующие теплообменника
            </span>
            <span class="prod-item__desc">
              Отвечаем за качество каждого устройства
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="production__right prod-image">
      <div data-video-src="https://www.youtube.com/embed/rcYHqA966Ow" class="watch-link prod-image__link">
        <span> Смотреть видео с производства </span>
        <img src="./img/youtube-icon.svg" alt="" />
      </div>
      <div class="prod-image__bottom">
        <p class="prod-image__desc">
          <span>Собственное автоматизированное производство в Краснодаре</span>
          площадью 1800 м.кв.
        </p>
        <a href="#" class="prod-image__btn btn btn--blue btn-reset">Записаться на экскурсию</a>
      </div>
    </div>
  </div>
</section>