<section class="reli">
  <div class="container">
    <div class="reli__header">
      <h2 class="reli__title title2">
        Теплообменники от Термосистем — <span>надёжные</span>
      </h2>

      <p class="desc reli__desc">
        Используем <span>долговечные материалы</span> и собираем на совесть
      </p>
    </div>

    <div class="reli__items">
      <div class="reli__item reli-item">
        <div class="reli-item__img">
          <picture>
            <source srcset="./img/reli/01-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/reli/01.webp" type="image/webp">
            <img loading="lazy" src="./img/reli/01.jpg" src="./img/reli/01-2x.jpg 2x" class="image" width="" height=""
              alt="">
          </picture>
        </div>
        <div class="reli-item__content">
          <div class="reli-item__capture title5">Оцинковываем детали</div>
          <p class="reli-item__desc text2">
            Все стяжные элементы (шпильки, гайки, болты), стойка и ножки оцинкованы: защита от коррозии.
          </p>
        </div>
      </div>

      <div class="reli__item reli-item">
        <div class="reli-item__img">
          <picture>
            <source srcset="./img/reli/02-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/reli/02.webp" type="image/webp">
            <img loading="lazy" src="./img/reli/02.jpg" src="./img/reli/02-2x.jpg 2x" class="image" width="" height=""
              alt="">
          </picture>
        </div>
        <div class="reli-item__content">
          <div class="reli-item__capture title5">Красим в 2 слоя</div>
          <p class="reli-item__desc text2">
            Надежное покрытие и полиуретановая грунтовка исключают коррозию корпуса.
          </p>
        </div>
      </div>



      <div class="reli__item reli-item">
        <div class="reli-item__img">
          <picture>
            <source srcset="./img/reli/03-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/reli/03.webp" type="image/webp">
            <img loading="lazy" src="./img/reli/03.jpg" src="./img/reli/03-2x.jpg 2x" class="image" width="" height=""
              alt="">
          </picture>
        </div>
        <div class="reli-item__content">
          <div class="reli-item__capture title5">Применяем толщину пластин 0,5 мм</div>
          <p class="reli-item__desc text2">
            У разборных и 0,4 мм у паяных теплообменников. Выдерживают давление на 30% выше рабочего.
          </p>
        </div>
      </div>

      <div class="reli__item reli-item">
        <div class="reli-item__img">
          <picture>
            <source srcset="./img/reli/04-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/reli/04.webp" type="image/webp">
            <img loading="lazy" src="./img/reli/04.jpg" src="./img/reli/04-2x.jpg 2x" class="image" width="" height=""
              alt="">
          </picture>
        </div>
        <div class="reli-item__content">
          <div class="reli-item__capture title5">Соблюдаем геометрию при сборке</div>
          <p class="reli-item__desc text2">
            Это исключает протечки. Теплообменник выдержит давление
            до 25 бар и температуру до 195°C.
          </p>
        </div>
      </div>


      <div class="reli__item reli-item">
        <div class="reli-item__img">
          <picture>
            <source srcset="./img/reli/05-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/reli/05.webp" type="image/webp">
            <img loading="lazy" src="./img/reli/05.jpg" src="./img/reli/05-2x.jpg 2x" class="image" width="" height=""
              alt="">
          </picture>
        </div>
        <div class="reli-item__content">
          <div class="reli-item__capture title5">Комплектуем фланцами и прокладками</div>
          <p class="reli-item__desc text2">
            Для удобства монтажа
          </p>
        </div>
      </div>

      <div class="reli__item reli-item">
        <div class="reli-item__img">
          <picture>
            <source srcset="./img/reli/06-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/reli/06.webp" type="image/webp">
            <img loading="lazy" src="./img/reli/06.jpg" src="./img/reli/06-2x.jpg 2x" class="image" width="" height=""
              alt="">
          </picture>
        </div>
        <div class="reli-item__content">
          <div class="reli-item__capture title5">Комплектуем теплоизоляционным кожухом</div>
          <p class="reli-item__desc text2">
            Для защиты от ожогов
          </p>
        </div>
      </div>


      <div class="reli__item reli-item">
        <div class="reli-item__img">
          <picture>
            <source srcset="./img/reli/07-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/reli/07.webp" type="image/webp">
            <img loading="lazy" src="./img/reli/07.jpg" src="./img/reli/07-2x.jpg 2x" class="image" width="" height=""
              alt="">
          </picture>
        </div>
        <div class="reli-item__content">
          <div class="reli-item__capture title5">Профессионально собираем
            и варим</div>
          <p class="reli-item__desc text2">
            Сварные швы без наплывов и непроваров, собирают специалисты с 10-летним опытом.
          </p>
        </div>
      </div>

      <div class="reli__item reli-item">
        <div class="reli-item__img">
          <picture>
            <source srcset="./img/reli/08-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/reli/08.webp" type="image/webp">
            <img loading="lazy" src="./img/reli/08.jpg" src="./img/reli/08-2x.jpg 2x" class="image" width="" height=""
              alt="">
          </picture>
        </div>
        <div class="reli-item__content">
          <div class="reli-item__capture title5">Используем оцинкованные удлиненные гайки</div>
          <p class="reli-item__desc text2">
            Выполненные из стали 40x с коэффициентом прочности 6.1 с накатанной резьбой.
          </p>
        </div>
      </div>


      <div class="reli__item reli-item">
        <div class="reli-item__img">
          <picture>
            <source srcset="./img/reli/09-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/reli/09.webp" type="image/webp">
            <img loading="lazy" src="./img/reli/09.jpg" src="./img/reli/09-2x.jpg 2x" class="image" width="" height=""
              alt="">
          </picture>
        </div>
        <div class="reli-item__content">
          <div class="reli-item__capture title5">Используем сталь марки AISI316</div>
          <p class="reli-item__desc text2">
            Долговечный материал корпуса и направляющих из нержавеющей стали.
          </p>
        </div>
      </div>

      <div class="reli__item reli-item">
        <div class="reli-item__img">
          <picture>
            <source srcset="./img/reli/10-2x.webp" type="image/webp" media="(min-width: 1920px)">
            <source srcset="./img/reli/10.webp" type="image/webp">
            <img loading="lazy" src="./img/reli/10.jpg" src="./img/reli/10-2x.jpg 2x" class="image" width="" height=""
              alt="">
          </picture>
        </div>
        <div class="reli-item__content">
          <div class="reli-item__capture title5">Подтвердим качество стали лабораторной экспертизой</div>
          <p class="reli-item__desc text2">
            Предоставим протокол испытаний
          </p>
        </div>
      </div>
    </div>
  </div>
</section>