<section class="service">
  <div class="container">
    <div class="service__header">
      <h2 class="title2 service__title">
        Грамотный расчет теплообменника
        <span>сэкономит десятки тысяч</span> рублей на обслуживании оборудования
      </h2>
      <p class="desc service__desc">
        Разовая экономия на запасе прочности
        <span>влечет высокие ежегодные расходы</span> на ремонт и обслуживание
      </p>
    </div>

    <div class="service__items">
      <div class="service__item service__item--adv service-item" data-count="01">
        <div class="service-item__content">
          <div class="service-item__title capture">
            Расчет с запасом прочности
          </div>

          <div class="service-item__about">
            <div class="service-item__img">
              <picture>
                <source srcset="./img/service/01-2x.webp" type="image/webp" media="(min-width: 1920px)" />
                <source srcset="./img/service/01.webp" type="image/webp" />
                <img loading="lazy" src="./img/service/01.jpg" srcset="./img/service/01-2x.jpg 2x" class="image"
                  width="" height="" alt="" />
              </picture>
            </div>
            <div class="service-item__text">
              <p class="text">
                Рассчитали характеристики под условия работы и заложили запас
                прочности.
              </p>
              <div class="service-item__price text">
                Стоимость: <span>350 000 ₽</span>
              </div>
            </div>
          </div>

          <div class="service-item__c">Оборудование работает бесперебойно:</div>
          <ul class="list-reset service-item__list">
            <li><span>Первая промывка понадобилась через 2 года:</span> 30 000
              рублей
            </li>
            <li><span>Требует техобслуживания раз в 1,5-2 года:</span> 20 000
              рублей.
            </li>
            <li><span>Срок службы:</span> 15-20 лет</li>
          </ul>
        </div>

        <div class="service-item__block">
          <div class="service-item__rubles">
            <p class="desc2">Техобслуживание за год:</p>
            <div class="service-item__price">25 000 рублей</div>
          </div>
        </div>
      </div>

      <div class="service__item service__item--dis service-item" data-count="02">
        <div class="service-item__content">
          <div class="service-item__title capture">
            Попытка сэкономить
          </div>

          <div class="service-item__about">
            <div class="service-item__img">
              <picture>
                <source srcset="./img/service/02-2x.webp" type="image/webp" media="(min-width: 1920px)" />
                <source srcset="./img/service/02.webp" type="image/webp" />
                <img loading="lazy" src="./img/service/02.jpg" srcset="./img/service/02-2x.jpg 2x" class="image"
                  width="" height="" alt="" />
              </picture>
            </div>
            <div class="service-item__text">
              <p class="text">
                Не учли запас поверхности теплообмена, поставили тонкий корпус
                и меньше пластин, заузили патрубки.
              </p>
              <div class="service-item__price text">
                Стоимость: <span>200 000 ₽</span>
              </div>
            </div>
          </div>

          <div class="service-item__c">Проблемы в первый год работы:</div>
          <ul class="list-reset service-item__list">
            <li><span>2 раза за год пластины покрылись накипью.</span> Чистка: 60 000 рублей. Больший расход
              теплоносителя.
            </li>
            <li><span>При пиковой нагрузке вылетели уплотнители и патрубки.</span> Срочный ремонт: 50 000 рублей.
            </li>
            <li><span>Срок службы:</span> 7 лет</li>
          </ul>
        </div>

        <div class="service-item__block">
          <div class="service-item__rubles">
            <p class="desc2">Техобслуживание за год:</p>
            <div class="service-item__price">150 000 рублей</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>