<section class="support">
  <div class="container">
    <div class="support__container">
      <div class="support__left">
        <div class="support__expert expert">
          <div class="expert__image">
            <picture>
              <source srcset="./img/andrey-2x.webp" type="image/webp" media="(min-width: 1920px)">
              <source srcset="./img/andrey.webp" type="image/webp">
              <img src="./img/andrey.png" srcset="./img/andrey-2x.png 2x" alt="">
            </picture>
          </div>
          <div class="expert__info">
            <div class="expert__name">Рыбалко Андрей</div>
            <div class="expert__prof">Эксперт по сервисному<br>обслуживанию теплообменников</div>
          </div>
        </div>

        <h2 class="support__title text2">Техподдержка отвечает в течение 1 минуты</h2>
        <a href="tel:+78003010265" class="support__tel support-tel">
          <div class="support-tel__icon">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.29156 11.7099C6.38059 9.79897 5.94911 7.88802 5.85177 7.1224C5.82456 6.91071 5.89742 6.69841 6.04887 6.54801L7.59531 5.00228C7.82279 4.77494 7.86316 4.42063 7.69265 4.14795L5.23043 0.32468C5.04179 0.0227291 4.65446 -0.0862479 4.33604 0.0730403L0.383295 1.93462C0.125805 2.06141 -0.0256469 2.33499 0.00358823 2.6205C0.210701 4.58806 1.06849 9.42478 5.82173 14.1783C10.575 18.9319 15.4111 19.7893 17.3797 19.9964C17.6652 20.0256 17.9388 19.8742 18.0656 19.6167L19.9272 15.664C20.0858 15.3463 19.9776 14.96 19.6769 14.771L15.8536 12.3095C15.5811 12.1388 15.2268 12.1789 14.9993 12.4061L13.4535 13.9526C13.3031 14.104 13.0908 14.1769 12.8791 14.1497C12.1135 14.0523 10.2025 13.6209 8.29156 11.7099Z"
                fill="#CE3C46" />
            </svg>
          </div>
          <div class="support-tel__content">
            <div class="support-tel__name text2">Проверьте прямо сейчас:</div>
            <div class="support-tel__value">8 800 301 02 65</div>
          </div>
        </a>
      </div>

      <div class="support__items">
        <div class="support__item support-item">
          <div class="support-item__icon">
            <img src="./img/car-map.svg" alt="">
          </div>
          <div class="support-item__content">
            <div class="support-item__capture title5">Вы в другом городе?</div>
            <p class="support-item__desc support-tel__name text2">Организуем доставку теплообменника  до нашего сервиса и обратно</p>
          </div>
        </div>
        <div class="support__item support-item">
          <div class="support-item__icon">
            <img src="./img/demo.svg" alt="">
          </div>
          <div class="support-item__content">
            <div class="support-item__capture title5">Нет возможности демонтировать?</div>
            <p class="support-item__desc support-tel__name text2">Отправим подробную инструкцию, каким средством провести промывку оборудования</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
