<section class="temp">
  <div class="container temp__container">
    <div class="temp__content">
      <h2 class="title2 temp__title">
        Изготовим типовую модель <span>за&nbsp;3-6 рабочих часов</span>
      </h2>
      <div class="temp__items">
        <div class="temp__item temp-item">
          <div class="temp-item__icon">
            <img src="./img/temp/01.svg" alt="" />
          </div>
          <div class="temp-item__content">
            <span>Держим запас пластин и комплектующих,</span> которых хватит
            на 3-4 месяца производства
          </div>
        </div>
        <div class="temp__item temp-item">
          <div class="temp-item__icon">
            <img src="./img/temp/02.svg" alt="" />
          </div>
          <div class="temp-item__content">
            Отладили <span>автоматизированное производство</span> и службу
            контроля качества
          </div>
        </div>
        <div class="temp__item temp-item">
          <div class="temp-item__icon">
            <img src="./img/temp/03.svg" alt="" />
          </div>
          <div class="temp-item__content">
            Есть <span>готовые чертежи и 3d модели</span> на 200 моделей типовых
            теплообменников
          </div>
        </div>
      </div>
    </div>

    <div class="temp__image">
      <div class="tpo__icon">
        <img src="./img/armor.png" alt="" />
      </div>
      <span class="temp__capture">
        Нестандартную модель мощностью
        <span class="blue">до&nbsp;40 Мвт</span> по&nbsp;индивидуальным расчетам
        изготовим <span class="yel">в срок от 2 недель</span>
      </span>

      <p class="title5 title5--wh temp__desc">
        быстрее в 2-3 раза других производителей благодаря 14-летнему опыту
        работы и инженерным наработкам
      </p>
    </div>
  </div>

  <div class="temp__products container">
    <div class="temp__product temp-product">
      <div class="temp-product__image">
        <picture>
          <source
            srcset="./img/temp/product/01-2x.webp"
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source srcset="./img/temp/product/01.webp" type="image/webp" />
          <img
            src="./img/temp/product/01.jpg"
            srcset="./img/temp/product/01-2x.jpg 2x"
            alt=""
          />
        </picture>
      </div>
      <div class="temp-product__content">
        <span class="temp-product__title">SN04-68 - 85 КВТ</span>
        <p class="temp-product__desc">
          Собрали <span>за 3 часа</span> в октябре 2023 г.
        </p>
        <a
          href="https://teploobmennik-russia.ru/content/teploobmennik-razbornyy-plastinchatyy-sn04-68-85-kvt-dlya-sistemy-otopleniya-zakazano-cherez"
          target="_blank"
          class="temp-product__link"
          ><span>Подробнее</span> →</a
        >
      </div>
    </div>
    <div class="temp__product temp-product is-hide">
      <div class="temp-product__image">
        <picture>
          <source
            srcset="./img/temp/product/02-2x.webp"
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source srcset="./img/temp/product/02.webp" type="image/webp" />
          <img
            src="./img/temp/product/02.jpg"
            srcset="./img/temp/product/02-2x.jpg 2x"
            alt=""
          />
        </picture>
      </div>
      <div class="temp-product__content">
        <span class="temp-product__title">SN14-18, 140 кВт</span>
        <p class="temp-product__desc">
          Собрали <span>за 3 часа</span> в сентябре 2023 г.
        </p>
        <a
          href="https://teploobmennik-russia.ru/content/teploobmennik-sn14-18-moshchnostyu-140-kvt-dlya-itp-v-sistemu-otopleniya-zdaniya-1400m2"
          target="_blank"
          class="temp-product__link"
          ><span>Подробнее</span> →</a
        >
      </div>
    </div>
    <div class="temp__product temp-product is-hide">
      <div class="temp-product__image">
        <picture>
          <source
            srcset="./img/temp/product/03-2x.webp"
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source srcset="./img/temp/product/03.webp" type="image/webp" />
          <img
            src="./img/temp/product/03.jpg"
            srcset="./img/temp/product/03-2x.jpg 2x"
            alt=""
          />
        </picture>
      </div>
      <div class="temp-product__content">
        <span class="temp-product__title">SN07-12, 45 кВт</span>
        <p class="temp-product__desc">
          Собрали <span>за 3 часа</span> в июне 2023 г.
        </p>
        <a
          href="https://teploobmennik-russia.ru/content/razbornyy-teploobmennik-sn07-12-dlya-nagreva-basseyna-obemom-45m3-analog-ridan-nn07"
          target="_blank"
          class="temp-product__link"
          ><span>Подробнее</span> →</a
        >
      </div>
    </div>
    <div class="temp__product temp-product is-hide">
      <div class="temp-product__image">
        <picture>
          <source
            srcset="./img/temp/product/04-2x.webp"
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source srcset="./img/temp/product/04.webp" type="image/webp" />
          <img
            src="./img/temp/product/04.jpg"
            srcset="./img/temp/product/04-2x.jpg 2x"
            alt=""
          />
        </picture>
      </div>
      <div class="temp-product__content">
        <span class="temp-product__title">SN19-40, 850 кВт</span>
        <p class="temp-product__desc">
          Собрали <span>за 3 часа</span> в октябре 2023 г.
        </p>
        <a
          href="https://teploobmennik-russia.ru/content/teploobmennik-sn19-40-dlya-itp-sistema-gvs-moshchnost-850-kvt-88-tochek-nepreryvnogo"
          target="_blank"
          class="temp-product__link"
          ><span>Подробнее</span> →</a
        >
      </div>
    </div>
  </div>
  <div class="temp__bottom temp-more">
    <span>+ ещё примеры</span>
  </div>
</section>
