<section class="tpo">
  <div class="container">
    <div class="tpo__content">
      <h2 class="title2 tpo__title">Сохраним срок службы ТПО <span>до 25 лет:</span> обслуживаем в собственном
        сервисном центре</h2>
      <p class="desc tpo__desc">
        Все запчасти есть в наличии. По югу России возможен <span>ремонт в день обращения,</span> в течение 1 рабочего
        дня
      </p>
    </div>
    <div class="tpo__gif">
      <div class="tpo__right">
        <div class="tpo__icon">
          <img src="./img/shield.png" alt="">
        </div>
        <div class="tpo__image">
          <img src="./tpo-animation.gif" alt="">
        </div>
        <div class="tpo__achiev">
          <span>Более 2000 м2 пластин</span> очистили от налета за 2023 г.
        </div>
      </div>
    </div>


    <ul class="list-reset hydro-item__list tpo__list">
      <li class="hydro-item__item tpo__item">
        Поддерживаем при подключении ТПО
        и на протяжении всего срока службы
      </li>
      <li class="hydro-item__item tpo__item">
        Добавим и заменим пластины, уплотнения
      </li>
      <li class="hydro-item__item tpo__item">
        Промоем и очистим
      </li>
      <li class="hydro-item__item tpo__item">
        Подключим к инженерным сетям
      </li>
      <li class="hydro-item__item tpo__item">
        Увеличим мощность
      </li>
      <li class="hydro-item__item tpo__item">
        Возьмем на постоянное обслуживание
      </li>
    </ul>
  </div>
</section>