<section class="types">
  <div class="container">
    <h2 class="title2 types__title">
      <span>16&nbsp;000 теплообменников</span> изготовили за&nbsp;14&nbsp;лет
      работы для&nbsp;ЖКХ, котельных, производств, бизнеса и&nbsp;бытовых нужд
    </h2>

    <ul class="types__tabs list-reset">
      <li class="types__tab active">Отопление</li>
      <li class="types__tab">ГВС</li>
      <li class="types__tab">Теплый пол</li>
      <li class="types__tab">Пищевые среды</li>
      <li class="types__tab">Паяный</li>
      <li class="types__tab">Для бассейна</li>
      <li class="types__tab">Пароводяной</li>
      <li class="types__tab">Сервис</li>
    </ul>
  </div>
</section>
