<section class="types">
  <div class="container">
    <h2 class="title2 types__title">
      <span>16 000 теплообменников</span> изготовили за 14 лет работы для ЖКХ,
      котельных, производств, бизнеса и бытовых нужд
    </h2>

    <ul class="types__tabs list-reset">
      <li class="types__tab">Отопление</li>
      <li class="types__tab">ГВС</li>
      <li class="types__tab">Теплый пол</li>
      <li class="types__tab">Пищевые среды</li>
      <li class="types__tab">Паяный</li>
      <li class="types__tab">Для бассейна</li>
      <li class="types__tab">Пароводяной</li>
      <li class="types__tab">Сервис</li>
    </ul>
  </div>
</section>
