<section class="video-r">
  <div class="container">
    <div class="video-r__header">
      <h2 class="title2 video-r__title">
        Наши клиенты <span>оставляют видеоотзывы</span> после подключения оборудования
      </h2>
      <p class="desc video-r__desc">
        Более <span>2000 видеоотзывов</span> за 14 лет работы
      </p>
    </div>
    <div class="video-r__wrapper">
      <div class="swiper video-r__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide video-r__slide video-item">
            <div class="video-item__image">
              <picture>
                <source srcset="./img/video-r/01-2x.webp" type="image/webp" media="(min-width: 1440px)">
                <source srcset="./img/video-r/01.webp" type="image/webp">
                <img src="./img/video-r/01.jpg" srcset="./img/video-r/01-2x.jpg 2x" alt="">
              </picture>
            </div>
            <div class="video-item__content">
              <div class="video-item__capture">
                <strong>Подобрали и изготовили за 1 день</strong> аналог Ридан НН№47 <span>с выгодой 100
                  тыс.руб. </span>
              </div>
              <a href="#" class="video-item__link"><span>Подробнее</span> →</a>
            </div>
          </div>
          <div class="swiper-slide video-r__slide video-item">
            <div class="video-item__image">
              <picture>
                <source srcset="./img/video-r/01-2x.webp" type="image/webp" media="(min-width: 1440px)">
                <source srcset="./img/video-r/01.webp" type="image/webp">
                <img src="./img/video-r/01.jpg" srcset="./img/video-r/01-2x.jpg 2x" alt="">
              </picture>
            </div>
            <div class="video-item__content">
              <div class="video-item__capture">
                <strong>Подобрали и изготовили за 1 день</strong> аналог Ридан НН№47 <span>с выгодой 100
                  тыс.руб. </span>
              </div>
              <a href="#" class="video-item__link"><span>Подробнее</span> →</a>
            </div>
          </div>
          <div class="swiper-slide video-r__slide video-item">
            <div class="video-item__image">
              <picture>
                <source srcset="./img/video-r/01-2x.webp" type="image/webp" media="(min-width: 1440px)">
                <source srcset="./img/video-r/01.webp" type="image/webp">
                <img src="./img/video-r/01.jpg" srcset="./img/video-r/01-2x.jpg 2x" alt="">
              </picture>
            </div>
            <div class="video-item__content">
              <div class="video-item__capture">
                <strong>Подобрали и изготовили за 1 день</strong> аналог Ридан НН№47 <span>с выгодой 100
                  тыс.руб. </span>
              </div>
              <a href="#" class="video-item__link"><span>Подробнее</span> →</a>
            </div>
          </div>
          <div class="swiper-slide video-r__slide video-item">
            <div class="video-item__image">
              <picture>
                <source srcset="./img/video-r/01-2x.webp" type="image/webp" media="(min-width: 1440px)">
                <source srcset="./img/video-r/01.webp" type="image/webp">
                <img src="./img/video-r/01.jpg" srcset="./img/video-r/01-2x.jpg 2x" alt="">
              </picture>
            </div>
            <div class="video-item__content">
              <div class="video-item__capture">
                <strong>Подобрали и изготовили за 1 день</strong> аналог Ридан НН№47 <span>с выгодой 100
                  тыс.руб. </span>
              </div>
              <a href="#" class="video-item__link"><span>Подробнее</span> →</a>
            </div>
          </div>
        </div>
      </div>

      <div class="video-r__btn video-r__btn--prev">
        <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17 7.9C17.6075 7.9 18.1 8.39249 18.1 9C18.1 9.60751 17.6075 10.1 17 10.1L17 7.9ZM0.722183 9.77782C0.292606 9.34824 0.292606 8.65176 0.722183 8.22218L7.72254 1.22182C8.15212 0.792247 8.8486 0.792247 9.27817 1.22182C9.70775 1.6514 9.70775 2.34788 9.27817 2.77746L3.05563 9L9.27818 15.2225C9.70775 15.6521 9.70775 16.3486 9.27818 16.7782C8.8486 17.2078 8.15212 17.2078 7.72254 16.7782L0.722183 9.77782ZM17 10.1L1.5 10.1L1.5 7.9L17 7.9L17 10.1Z"
            fill="#606778" />
        </svg>
      </div>
      <div class="video-r__btn video-r__btn--next">
        <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2 7.9C1.39249 7.9 0.9 8.39249 0.9 9C0.9 9.60751 1.39249 10.1 2 10.1L2 7.9ZM18.2778 9.77782C18.7074 9.34824 18.7074 8.65176 18.2778 8.22218L11.2775 1.22182C10.8479 0.792247 10.1514 0.792247 9.72183 1.22182C9.29225 1.6514 9.29225 2.34788 9.72183 2.77746L15.9444 9L9.72182 15.2225C9.29225 15.6521 9.29225 16.3486 9.72182 16.7782C10.1514 17.2078 10.8479 17.2078 11.2775 16.7782L18.2778 9.77782ZM2 10.1L17.5 10.1L17.5 7.9L2 7.9L2 10.1Z"
            fill="#606778" />
        </svg>
      </div>
    </div>
    <div class="video-r__bottom">
      <div></div>
      <div class="swiper-pagination video-r__pagination"></div>
      <a href="#" class="video-r__link link">Все отзывы</a>
    </div>
  </div>
</section>