<div class="vidgets hide">
  <div class="vidgets__container">
    <button class="btn-reset vidgets__close">
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="8.48535" width="12" height="1" transform="rotate(-45 0 8.48535)" fill="white" />
        <rect x="0.707031" y="0.000976562" width="12" height="1" transform="rotate(45 0.707031 0.000976562)"
          fill="white" />
      </svg>
    </button>
    <div class="vidgets__body">
      <div class="vidgets__item" data-popup="catalog">
        <div class="vidgets__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#catalogue"></use>
          </svg>
        </div>
        <div class="vidgets__desc">Получить<br>каталог</div>
      </div>
      <div class="vidgets__item" data-popup="shild">
        <div class="vidgets__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#shildik"></use>
          </svg>
        </div>
        <div class="vidgets__desc">Загрузить<br>шильдик</div>
      </div>
      <div class="vidgets__item" data-popup="calc">
        <div class="vidgets__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#calculate"></use>
          </svg>
        </div>
        <div class="vidgets__desc">Рассчитать<br>теплообменник</div>
      </div>
      <div class="vidgets__item">
        <div class="vidgets__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#options"></use>
          </svg>
        </div>
        <div class="vidgets__desc">Подобрать<br>по параметрам</div>
      </div>
      <a href="./qlist.doc" download class="vidgets__item">
        <div class="vidgets__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#download-list"></use>
          </svg>
        </div>
        <div class="vidgets__desc">Скачать<br>опросный лист</div>
      </a>
    </div>
  </div>
</div>